name: Upload Python Package

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  pypi-publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up Python
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: |
          uv sync --all-extras --dev
          uv tool install ds-run

      - name: Build package
        run: ds build

      - name: Publish package
        run: uv publish
